*
    margin 0
    box-sizing border-box
body
    overflow-x hidden
    padding 0
    margin 0
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
button
    border none
    outline none
.element::-webkit-scrollbar
    width 0 !important

a
    color white
    text-decoration none
